@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

/*For better control over the box-model measurements*/
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: #d8e4bc;
}

/*Logo*/
.logo {
    color: bisque;
    font-size: 2em;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    float: left;
}

h2 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    color: #044421;
    display: block;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    color: #472f0f;
    text-align: center;
}

/*Navigation menu*/
nav {
    display: flex;
}

.topnav {
    float: right;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
    justify-content: space-evenly;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav li a {
    color: bisque;
    text-align: right;
    font-size: 1em;
    
}

a:hover {
    background: #b1a583;
    transition: .5s;
}

/*Hero image*/
#hero-image {
    height: 600px;
    width: 100%;
    margin-top: 30px;
    background-image: url(../images/depositphotos_544819246-stock-photo-escrima-kapap-instructor-demonstrates-sticks.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Explore section*/
.column1of3, .column2of3, .column3of3 {
    width: 30%;
    text-align: center;
    float: left;
    margin: 10px;
    border-radius: 2px;
    background: antiquewhite;
    margin-left: 33%;
    margin-right: auto;
}

/*Contact us section*/

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #044421;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit] :hover {
    background-color: #044421;
}

.box {
    border-radius: 5px;
    background-color: antiquewhite;
    padding: 20px;
}

/*Working times*/
#details {
    clear: both;
    margin-bottom: 1px;
}

.details-boxes-container {
    width: 66%;
    margin: 0 auto;

}

table{
    margin-right: auto;
    margin-left: auto;
}

th {
    text-align: left;
}

.details-box-right {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

.details-box-center {
    width: 250px;
    height: 250px;
    margin: 5%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
}

.h3 {
    text-align: center;
}

/*Footer*/

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 0.5%;
    padding: 5%;
    color: #044421
}

/*For larger screens size from 2000px wide and down*/
@media (max-width: 2000px) {
.logo {
    font-size: 1.75em;
    align-items: flex-start;
}

nav ul li {
    font-size: 1em !important;
    flex-direction: column;
    align-items: flex-end;
}
}

/*For larger to medium screens size from 768px wide and down */

@media (max-width: 768px) {
  .logo {
    font-size: 1em;
    align-items: flex-start;
}

nav ul li {
    font-size: 0.75em !important;
    flex-direction: column;
    align-items: flex-end;
    display: block;
}

.column1of3, .column2of3, .column3of3 {
    vertical-align: top;
    width: 28%;
}

table {
    font-size: x-small;
}

h2 {
    font-size: 0.75em !important;
    flex-direction: column;
    align-items: flex-end;
    display: block;
}

h3 {
    font-size: x-small;
}


p {
    font-size: 0.5em !important;
    flex-direction: column;
    align-items: flex-end;
    display: block;
}
}
